<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트 페이지</title>

</head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class = "container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>글번호</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${list}">
                <td th:text="${board.id}"></td>
                <td>
                    <a th:text="${board.title}" th:href="@{|/board/view/${board.id}|}"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/board/write}" class="btn btn-primary">게시물 등록</a>
</div>
</body>
</html>